<a href="https://colab.research.google.com/github/qweliant/DS-Unit-2-Regression-Classification/blob/master/module1/assignment_applied_modeling_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 3, Module 1*

---


# Define ML problems

You will use your portfolio project dataset for all assignments this sprint.

## Assignment

Complete these tasks for your project, and document your decisions.

- [ ] Choose your target. Which column in your tabular dataset will you predict?
- [ ] Choose which observations you will use to train, validate, and test your model. And which observations, if any, to exclude.
- [ ] Determine whether your problem is regression or classification.
- [ ] Choose your evaluation metric.
- [ ] Begin to clean and explore your data.
- [ ] Begin to choose which features, if any, to exclude. Would some features "leak" information from the future?

# Goal
Given hour i for user x,  provide a message depending on high, low, or medium, stress

Design predictive analysis based on the theory of affective forcating using autoregressive and moving average techniques, as well as one regression model.

The dataset can thus be approached by two different techniques 

The values to be predicted are stress stress levels from Garmin watches, they will be indexed by time.

One approach is looking at the data with a pivot table for univariate analysis, and another appraoch looking at the features time and date for a classification model

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [0]:
url = "https://raw.githubusercontent.com/qweliant/Lambda_lmbk/master/lmbk_data.csv?token=AII7DUJCLGGEUQQFH6T4E2K5WGIRM"

df = pd.read_csv(url)
lmbk = df.copy()

In [3]:
lmbk.head()

   Unnamed: 0     id  ...  user_id                recorded_at
0           0  52722  ...       76  2018-09-01 04:00:00+00:00
1           1  52723  ...       76  2018-09-01 04:03:00+00:00
2           2  52724  ...       76  2018-09-01 04:06:00+00:00
3           3  52725  ...       76  2018-09-01 04:09:00+00:00
4           4  52726  ...       76  2018-09-01 04:12:00+00:00

[5 rows x 7 columns]

In [0]:
lmbk['recorded_at'] = pd.to_datetime(lmbk.recorded_at)

In [5]:
lmbk.readable_stress_level.value_counts()

4    737626
Name: readable_stress_level, dtype: int64

In [24]:
df.describe()

          Unnamed: 0             id  ...  readable_stress_level        user_id
count  737626.000000  737626.000000  ...               737626.0  737626.000000
mean   368812.500000  417445.748162  ...                    4.0      66.485589
std    212934.429168  212955.999739  ...                    0.0      13.906937
min         0.000000   48599.000000  ...                    4.0      46.000000
25%    184406.250000  233017.250000  ...                    4.0      46.000000
50%    368812.500000  417447.500000  ...                    4.0      66.000000
75%    553218.750000  601868.750000  ...                    4.0      77.000000
max    737625.000000  786312.000000  ...                    4.0     120.000000

[8 rows x 5 columns]

In [6]:
df.dtypes

Unnamed: 0                 int64
id                         int64
stress_level             float64
readable_stress_level      int64
created_at                object
user_id                    int64
recorded_at               object
dtype: object

In [0]:
# I know that -1 and -2 are errors in the data so lets remove em
lmbk = lmbk.replace(to_replace=[-1, -2], value=np.nan)

In [8]:
lmbk.user_id.value_counts()

46     189073
66     184840
77     141245
73      61819
72      55336
79      48686
76      27442
89      21359
120      7826
Name: user_id, dtype: int64

In [0]:
# # extracting date from timestamp
# lmbk['Date'] = pd.to_datetime(lmbk.date)

# # extracting time from timestamp
# lmbk['Time'] = pd.to_datetime(lmbk.index.time)

In [0]:
def drop_col(frame, cols):
    frame = frame.copy()
    frame.drop(cols, axis=1, inplace=True)
    return frame

In [0]:
lmbk = drop_col(lmbk, ['Unnamed: 0','created_at', 'id', 'readable_stress_level'])

In [0]:
# col = ['Unnamed: 0','created_at', 'id', 'readable_stress_level', 'user_id']

In [13]:
lmbk.head()

   stress_level  user_id               recorded_at
0           NaN       76 2018-09-01 04:00:00+00:00
1           NaN       76 2018-09-01 04:03:00+00:00
2          12.0       76 2018-09-01 04:06:00+00:00
3          19.0       76 2018-09-01 04:09:00+00:00
4          11.0       76 2018-09-01 04:12:00+00:00

In [0]:
lmbk['date']  = lmbk.recorded_at.dt.date

In [0]:
lmbk['time']  = lmbk.recorded_at.dt.time

In [16]:
lmbk.head()

   stress_level  user_id               recorded_at        date      time
0           NaN       76 2018-09-01 04:00:00+00:00  2018-09-01  04:00:00
1           NaN       76 2018-09-01 04:03:00+00:00  2018-09-01  04:03:00
2          12.0       76 2018-09-01 04:06:00+00:00  2018-09-01  04:06:00
3          19.0       76 2018-09-01 04:09:00+00:00  2018-09-01  04:09:00
4          11.0       76 2018-09-01 04:12:00+00:00  2018-09-01  04:12:00

In [0]:
# lmbk.pivot(index='time', columns='date', values='stress_level' )

In [0]:
# lmbk.head()

In [0]:
# lmbk = lmbk.set_index('time')

In [0]:
# lmbk.head()

In [0]:
lmbk_1 = lmbk[lmbk['user_id'] == 46]
lmbk_2 = lmbk[lmbk['user_id'] == 66]
lmbk_3 = lmbk[lmbk['user_id'] == 77]
lmbk_4 = lmbk[lmbk['user_id'] == 73]
lmbk_5 = lmbk[lmbk['user_id'] == 72]
lmbk_6 = lmbk[lmbk['user_id'] == 79]
lmbk_7 = lmbk[lmbk['user_id'] == 76]
lmbk_8 = lmbk[lmbk['user_id'] == 89]
lmbk_9 = lmbk[lmbk['user_id'] == 120]

In [0]:
lmbk_1.shape, lmbk_2.shape, lmbk_3.shape, lmbk_4.shape, lmbk_5.shape, lmbk_6.shape, lmbk_7.shape, lmbk_8.shape, lmbk_9.shape

In [0]:
lmbk_1.head()

In [0]:
lmbk_1 = lmbk_1.pivot(index='time', columns='date', values='stress_level' )

In [22]:
lmbk_1.head(15)

date      2018-08-17  2018-08-18  ...  2019-10-07  2019-10-08
time                              ...
00:00:00         NaN        85.0  ...        85.0        75.0
00:03:00         NaN        85.0  ...        86.0        79.0
00:06:00         NaN        82.0  ...        86.0        76.0
00:09:00         NaN        69.0  ...        86.0        76.0
00:12:00         NaN        79.0  ...        86.0         NaN
00:15:00         NaN        79.0  ...        85.0        73.0
00:18:00         NaN        79.0  ...        85.0        75.0
00:21:00         NaN         NaN  ...        87.0        73.0
00:24:00         NaN         NaN  ...        82.0        76.0
00:27:00         NaN         NaN  ...        88.0         NaN
00:30:00         NaN        82.0  ...        90.0        81.0
00:33:00         NaN        76.0  ...        91.0        76.0
00:36:00         NaN        76.0  ...        91.0        78.0
00:39:00         NaN         NaN  ...        92.0        81.0
00:42:00         NaN        70.0  ...        90.0        72.0

[15 rows x 400 columns]

In [0]:
lmbk_1 = lmbk_1.set_index('time')

In [0]:
sns.set(rc={'figure.figsize':(11,4)})

In [0]:
# axes = lmbk_1['stress_level'].loc['2019-09-01'].plot( figsize=(11, 9), subplots=True)

In [0]:
# from pandas.plotting import autocorrelation_plot
# autocorrelation_plot(lmbk_1['stress_level'].loc['2019-09-01'])

In [0]:
# model = ARIMA(lmbk_1['stress_level'].loc['2019-09-01'], order=(100,1,0))
# model_train = model.fit(disp=0)

In [0]:
# model_train.summary()

In [0]:
ax = lmbk_1.loc['00:00:00'].cumsum().plot(figsize=(16,12))